html {
	box-sizing: border-box;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Raleway', sans-serif;
	padding: 30px;
}

img {
	width: 100%;
}

a {
	color: #222;
	text-decoration: none;
}
