.discover {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
}

.discover-criteria {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#prev-choices {
	border: 1px solid #70a4b9;
	min-width: 200px;
	text-align: center;
	margin-top: 20px;
}
