.coffees {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	justify-content: space-around;
}

.coffee {
	margin: 20px;
}

.coffee-img {
	width: 380px;
}

.coffee-notes {
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
